
   <header>
    <a href="https://www.stickpng.com/pt-br/img/objetos/dinheiro/money-one-bill-dollar" target="_blank"><img src="assets/dollar.png" id="dollar-1"></a>
    <a href="https://www.stickpng.com/pt-br/img/objetos/dinheiro/money-one-bill-dollar" target="_blank"><img src="assets/dollar.png" id="dollar-2"></a>
    <a href="https://www.peakspresbytery.org/2-cents-a-meal/" target="_blank"><img src="assets/cents.png"  id="cents-1"></a>
    <a href="https://www.stickpng.com/pt-br/img/objetos/dinheiro/money-one-bill-dollar" target="_blank"><img src="assets/dollar.png" id="dollar-3"></a>
    <a href="https://www.stickpng.com/pt-br/img/objetos/dinheiro/money-one-bill-dollar" target="_blank"><img src="assets/dollar.png" id="dollar-4"></a>
    <a href="https://www.peakspresbytery.org/2-cents-a-meal/" target="_blank"><img src="assets/cents.png"  id="cents-2"></a>
    <h1>Dollars to Cents</h1>
  </header>
  <div class="container">
    <div class="title">
      <h2>Enter the dollar to see how many coins of each type</h2>
    </div>
    <div class="dollars-cents">
        <div class="dollar">
          <input type="number" [(ngModel)]="dollar" (keyup)="showValues()"  >
          <p>Dollars</p>
        </div>
        <div class="coin">
          <input type="number" readonly [(ngModel)]="cent">
          <p>Cents</p>
        </div>
    </div>
    <button id="clearBtn" (click)="clearAll()">Clear</button>
    <div class="coins">
      <div class="coin">
        <input type="number" id="quarters" readonly [(ngModel)]="quarter">
        <p>Quarters</p>
      </div>
      <div class="coin">
        <input type="number" id="dimes" readonly [(ngModel)]="dime">
        <p>Dimes</p>
      </div>
      <div class="coin">
        <input type="number" id="nickels" readonly [(ngModel)]="nickel">
        <p>Nickels</p>
      </div>
      <div class="coin">
        <input type="number" id="pennies" readonly [(ngModel)]="penny">
        <p>Pennies</p>
      </div>
    </div>
  </div>
  <footer>
    <a class="fa-brands fa-github" href="https://github.com/VictorMuniz7"></a>
    <a class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/victor-muniz-236842267/"></a>
  </footer>


